{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "always",
  "objectWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore"
}
