POSTGRES_DB=contextforge
POSTGRES_USER=contextforge
POSTGRES_PASSWORD=contextforge_dev_password
POSTGRES_PORT=5432

QDRANT_URL=http://localhost:6333
QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334

EMBEDDING_MODEL=text-embedding-3-small
TOPK_DEFAULT=3
